body{
    background-image: url(pen.jpg);
    background-repeat: no-repeat;
    background-size: 1570px 750px;
}
form{
    border: solid 2px;
    width: 450px;
    margin-left: 100px;
    padding-left: 50px;
}
label{
    font-size: 30px;
    color: brown;
    font-weight: bold
}
input{
    height: 30px;
    width: 300px;
    border-radius: 10px;
}
textarea{
    height: 100px;
    width: 300px;
}
button{
    height: 50px;
    width: 120px;
    color: aliceblue;
    background-color: black;
    border-radius: 30px;
}
h1{
    text-align: center;
    font-size: 55px;
}